<div class="container_common landing_main">

    <div class="half single_on_line" style="margin-top:145px;">
        <div class="pull_right half_right single_on_line">
            <%= image_tag "landing/first_page/Erik_Musin_designer.svg", {class: "w400", style: "width:400px;"} %>
        </div>
    </div>

    <div class="half single_on_line  " style="margin-top: 75px; margin-bottom: 140px; ">

        <nav class="pull_right half_right single_on_line w400 justify_all_between">

            <%= link_to(illustrations_path, class: "") do %>
                <%= image_tag "landing/first_page/illustration.svg", class: "h_word_link" %>
            <% end %>

            <%= link_to(logos_path, class: "") do %>
                <%= image_tag "landing/first_page/logo.svg", class: "h_word_link" %>
            <% end %>

            <%= link_to(letterings_path, class: "") do %>
                <%= image_tag "landing/first_page/lettering.svg", class: "h_word_link" %>
            <% end %>

            <%= link_to({controller: "landing", action: "contacts"}, class: "") do %>
                <%= image_tag "landing/first_page/contact.svg", class: "h_word_link" %>
            <% end %>
        </nav>
    </div>

    <!--<div class="half single_on_line" style="">-->
        <!--<div class="pull_right half_right single_on_line over_hidden" style="margin-bottom: 30px;">-->
            <!--<%= image_tag "landing/marker-pencil/marker.svg", class: "w400" %>-->
        <!--</div>-->
        <!--<div class="pull_right half_right single_on_line over_hidden" style="">-->
            <!--<%= image_tag "landing/marker-pencil/pencil.svg", class: "w400" %>-->
        <!--</div>-->
    <!--</div>-->

    <div class="half single_on_line" style="margin-top: 0px;">
        <nav class="pull_right half_right single_on_line w400 justify_all_between" style="width: 280px;">

            <a href="https://dribbble.com/Mrerik" class="">
                <div class="w_icon dribble_icon"></div>
            </a>
            <a href="https://www.behance.net/erikmusin" class="">
                <div class="w_icon behance_icon"></div>
            </a>
            <a href="https://vk.com/erik_musin" class="">
                <div class="w_icon vk_icon"></div>
            </a>
            <a href="http://instagram.com/mr_erikm" class="">
                <div class="w_icon insta_icon"></div>
            </a>
        </nav>
    </div>
</div>


<div class="container_common land_illustration opacity30">
    <%= link_to(illustrations_path, class: "") do %>
        <%= image_tag "landing/illustration/illustration_word.png", {class: "center_img land_word_illustration", style: "width:66%;"} %>
    <% end %>
</div>


<div class="container_common land_logo ">
    <%= link_to(logos_path, class: "") do %>
        <%= image_tag "landing/logo/Line.svg", {class: "center_img logo_word", style: ""} %>
    <% end %>
</div>


<div class="container_common land_lettering ">
    <%= link_to(letterings_path, class: "") do %>
        <%= image_tag "landing/lettering/lettering_word.png", {class: "center_img", style: "width:500px;"} %>
    <% end %>
</div>

<%= render file: "landing/contacts" %>
