<div class="menu">

    <div class=" menu_inner_container">

        <div class="pull_left" style="height: 30px; width: 100px;"></div>

        <%= link_to(root_path, class: "pull_left") do %>
            <%= image_tag "landing/first_page/Erik_Musin_designer.svg", class: "menu_erik pull_left" %>
        <% end %>

        <div class="pull_left" style="height: 30px;  width: 95px;"></div>

        <nav class="pull_left justify_all_around" style="width: 990px;">


            <%= link_to("illustration", illustrations_path, class: "plain_link color_link_illustration") %>

            <%= link_to("logo", logos_path, class: "plain_link color_link_logo") %>

            <%= link_to("lettering", letterings_path, class: "plain_link color_link_lettering") %>

            <%= link_to("contact", {controller: "landing", action: "contacts"}, class: "plain_link color_link_contact") %>

            <%= link_to("about", {controller: "landing", action: "about"}, class: "plain_link color_link_about") %>
        </nav>

    </div>
</div>
