<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @art_lettering.name %>
</p>

<p>
  <strong>Show index:</strong>
  <%= @art_lettering.show_index %>
</p>

<%= link_to 'Edit', edit_art_lettering_path(@art_lettering) %> |
<%= link_to 'Back', art_letterings_path %>
