<h1>Listing Art Logos</h1>

<div class="admin_actions_table">
    <h3 class="wm150">
        <%= link_to 'New Art logo', new_art_logo_path %>
    </h3>
    <h3 class="wm150">
        <%= link_to 'Add defaults', {controller: 'art_logos', action: 'add_defaults'}, data: {confirm: 'Are you sure?'} %>
    </h3>
    <h3 class="wm150">
        <%= link_to 'Clean all', {controller: 'art_logos', action: 'clean'}, data: {confirm: 'Are you sure?'} %>
    </h3>

</div>

<table>
    <thead>
    <tr>
        <th class="wm150" style="text-align: center;">Name</th>
        <th class="wm150">Show index</th>
        <th class="wm150">Image</th>
        <th class="wm500" colspan="5"></th>
    </tr>
    </thead>

    <tbody>
    <% @art_logos.each do |art_logo| %>
        <tr>
            <td class="centered_text"><%= art_logo.name %></td>
            <td class="centered_text"><%= art_logo.show_index %></td>
            <td class="centered_text"><%= image_tag(art_logo.image, style: "width: 100px; height: 100px;") %></td>
            <td><%= link_to 'Show', art_logo %></td>
            <td><%= link_to 'Edit', edit_art_logo_path(art_logo) %></td>
            <td ><%= link_to 'Destroy', art_logo, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <td class=""><%= link_to '  ^^^  ', [:move_up, art_logo] %></td>
            <td class=""><%= link_to '  \/  ', [:move_down, art_logo] %></td>
        </tr>
    <% end %>
    </tbody>
</table>