<%= form_for(@illustration) do |f| %>
    <% if @illustration.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@illustration.errors.count, "error") %> prohibited this illustration from being
                saved:</h2>

            <ul>
                <% @illustration.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
