<div class="w_full"
     <%= 'style="background-color:'.html_safe %>
     <% case @pckg %>
     <% when "BASE" %>
     <%= "#282932" %>
     <% when "BLUE MAGIC" %>
     <%= "#3F435E" %>
     <% when "get taxi" %>
     <%= "#ffffff" %>
     <% when "GRAPHICS" %>
     <%= "#14181B" %>
     <% when "ORIGINAL" %>
     <%= "#7FBDB2" %>
     <% when "POSTER BASE" %>
     <%= "#FFFFFF" %>
     <% else %>
     <%= "#FFFFFF" %>
     <% end %>
     <%= ';"'.html_safe %> >

    <%= render file: "landing/menu" %>

    <% @illustrations.each do |illustration| %>
        <%= image_tag "pngs/illustration/" + @pckg + "/" + illustration, class: "illustration_extra_inner" %>
    <% end %>
</div>

<style>
    .triangle_illustration {
        visibility: visible;
    }
</style>