<p id="notice"><%= notice %></p>

<p>
  <strong>Show index:</strong>
  <%= @art_illustration_inner.show_index %>
</p>

<p>
  <strong>Art illustration:</strong>
  <%= @art_illustration_inner.art_illustration %>
</p>

<%= link_to 'Edit', edit_art_illustration_inner_path(@art_illustration_inner) %> |
<%= link_to 'Back', art_illustration_inners_path %>
