<!DOCTYPE html>
<html>
<head>
    <title>Erik Musin</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=450px, initial-scale=0.25">
</head>

<body>

<%= render file: "landing/menu" %>

<div class="main_part_top_margin w_full">

    <%= yield %>

</div>

<%= render file: "landing/footer" %>

</body>

</html>