<!DOCTYPE html>
<html>
<head>
    <title>Erik Musin</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=450px, initial-scale=0.25">
</head>

<body class="contacts_full_back">

<%= render file: "landing/menu" %>
<div class=" w_full page-wrap">
    <div style="padding-top: 300px;">

        <div class="container_last light_color_font">

            <div class="half_pack over_hidden">
                <a href="mailto:erikmworkk@gmail.com" class="mail_to_animate land_cont_title_mail erik_link_shadowed" style="">
                    erikmusin@gmail.com
                </a>

                <a href="mailto:erikmworkk@gmail.com" class="h160 jerry_back  land_cont_img_mail" style="">
                    <%= image_tag "landing/vector-contacts/mail.svg", {class: "contact_link_image h30  pos_abs half_down land_cont_inner_mail", style: ""} %>
                </a>
            </div>

            <div class="half_pack over_hidden">
                <%= link_to("http://vk.com/erik_musin", {class: "vk_to_animate  land_cont_title_vk erik_link_shadowed", style: ""}) do %>
                    http://vk.com/erik_musin
                <% end %>
                <%= link_to("http://vk.com/erik_musin", {class: "h160 jerry_back  land_cont_img_vk", style: ""}) do %>
                    <%= image_tag "landing/vector-contacts/vk.svg", {class: "contact_link_image h30  pos_abs half_down land_cont_inner_vk", style: ""} %>
                <% end %>
            </div>
        </div>


        <style>
            .triangle_contacts {
                visibility: visible;
            }
        </style>

    </div>
</div>
<footer>
    <%= image_tag "landing/vector-contacts/Jerry_cut.png", class: "" %>
</footer>
</body>

</html>